/** @format */

.cartItemList {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
  padding: 1rem;
}
.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.cartItem .itemImg {
  width: 100px;
  height: 100px;
}
.cartItem .itemImg img {
  width: 100%;
  height: auto;
}
.cartSummery {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 30%;
  margin-left: 3rem;
}
.cartCenter {
  display: flex;
  width: 90vw;
  max-width: 1170px;
  justify-content: center;
  margin-top: 50px;
}
.summeryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.summeryItem.net {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.btnGroup button {
  outline: none;
  color: #6d28d9;
  border: 1px solid #6d28d9;
  padding: 5px 10px;
  background-color: #fff;
}
.btnGroup button:first-child {
  border-radius: 5px 0 0 5px;
}
.btnGroup button:last-child {
  border-radius: 0 5px 5px 0;
}
.btnGroup button:nth-child(2) {
  border-left: 0;
  border-right: 0;
}
