/** @format */

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #f6f6f6;
}
.productList {
  margin-top: 50px;
  /* background-color: rgb(213, 239, 213); */
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  max-width: 1170px;
  width: 90vw;
}
.product {
  background-color: #ede9fe;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.productImg img {
  width: 100%;
  height: auto;
}
.container {
  display: flex;
  justify-content: center;
}
.productDesc {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.btn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 6px 15px;
  color: #6d28d9;
  border-radius: 5px;
}
.primary {
  background-color: #6d28d9;
  color: #fff;
}
.continuOrdering {
  background-color: #6d28d9;
  color: #fff;
}
